.main_block {
	width: 100%;
	height: 100%;
	position: relative;
}
.main_block .left {
	float: left;
	overflow: hidden;
	width: 50%;
	height: 662px;
	background-color: #2BAE91;
}
.main_block .left:hover {

}
.main_block .right {
	float: left;
	overflow: hidden;
	width: 50%;
	height: 662px;
	background-color: #ED7870;
}
.main_block .left span {
	position: absolute;
	left: 250px;
	top: 300px;	
}
.main_block .left span a {
	color: #fff;
	font-size: 30px;
}
.main_block .right span {
	position: absolute;
	right: 250px;
	top: 300px;
}
.main_block .right a {
	color: #fff;
	font-size: 30px;
}